$theme-colors: (
	'primary': #14b8a6,
	'secondary': #6b7280,
	'success': #22c55e,
	'warning': #eab308,
	'danger': #dc2626,
	'light': #f3f4f6,
	'dark': #111827,
);

@import '~bootstrap/scss/bootstrap.scss';

.form-control:focus,
.form-select:focus {
	box-shadow: 0 0 0 0.1rem rgba(24, 147, 253, 0.1) !important;
}

.fs-8 {
	font-size: 0.8rem;
}
